rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /customers/{customerId} {
      // Internal admin tool: anyone can read and write to manage customers without auth
      allow read, write: if true;
    }
  }
}
